<h1>Listing side_hustles</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @side_hustles.each do |side_hustle| %>
  <tr>
    <td><%= side_hustle.description %></td>
    <td><%= link_to 'Show', side_hustle %></td>
    <td><%= link_to 'Edit', edit_side_hustle_path(side_hustle) %></td>
    <td><%= link_to 'Destroy', side_hustle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Side hustle', new_side_hustle_path %>
